{% extends 'layout.html' %}

{% block page_info %}

<div class="container_do_formulario">
    <h1 class="titulo_documento">Sobre</h1>
    <h2 class="lead_documento">Plataforma integrada de informações de Assistencia Estudantil da FUP/UnB...</h2>

    <p>Esta plataforma objetiva integrar informações entre os 
       profissionais dos diferentes setores da instituição que atuam 
       em diversas frentes da Assistência Estudantil. Objetiva-se 
       integrar informação para identificar e avaliar estratégias 
       conjuntas de intervensão com vista à garantida do direito ao
       acesso à educação.</p>

    <p>Foi desenvolvida com as tecnologias Node.js, python no backend
       e Vue com TailwindCSS no frontend. </p>

</div>

{% endblock %}



