<div class="bg-gray-600" > <!--- NAVBAR --->
    <div class="layout_base_do_cabecalho">
        <nav class="alinhamento_cabecalho">

            <div class="py-4 flex-grow ">
                <span class="text-2xl font-bold">Assistência Estudantil</span>
            </div>
          

            <!-- <div class="p-4"><span><a href="/registration">registrar</a></span></div>-->
            <div class="p-4"><span><a href="/listar_todos_estudantes">listagem</a></span></div>
            <div class="p-4"><span><a href="/estatisticas">estatísticas</a></span></div>
            <div class="p-4"><span><a href="/">formularios</a></span></div>
            <!-- <div class="p-4"><span><a href="/about">sobre</a></span></div> -->
            <div class="p-4"><span><a href="/contact">recado</a></span></div>

        </nav>
    </div>
</div>
