{% extends 'layout.html' %}

{% block page_info %}

        <div class='container_do_corpo_da_pagina'>
            <div class="container_do_formulario">
                <h1 class="titulo_documento">Seções</h1>

                <div class="cartao">
                    <h2 class="cartao-header"><a href="/dispositivos">Informações dos dispositivos</a></h2>
                    <p class="cartao-body">Informações sobre os dispositivos conectados: mass_flow, arduino...</p>
                </div><br><br>

                <div class="cartao">
                    <h2 class="cartao-header"><a href="/rotina_experimental">Definição da rotina experimental</a></h2>
                    <p class="cartao-body">Volume do fluxo, tempo, dispositivos envolvidos...</p>
                </div><br><br>
            
            </div>
        </div>

{% endblock %}

